body {
    text-align: center;
    color: #ffffff;
    margin: 0 auto;
}

.header{
    background-color: #E7F4F8;
    height: 100vh;
}

.boxTitle{
    text-align: center;
    background-color: #FF4B21;
    font-size: 2em;
}

.fontColor{
    color: white;
}

.landing-page {
    padding: 20px 50px;
  }

  .top-page {
    background: url("/assets/img/image-congo-bg-f.png");
    background-size: cover;
    height: 85vh;
    padding: 25px;
  }

  .header {
    display: flex;
    align-items: center;
  }
  